.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}
